* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #2e76d4;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  gap: 5px;
}

.search-form input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.search-form button {
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 20px;
}

footer {
  background-color: #2e76d4;
  color: white;
  text-align: center;
  padding: 10px;
}

main img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 8px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
