// Variables base
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Permanent Marker", cursive;

$color-bg: #f8f9fa;
$color-dark: #373a3d;
$color-light: #ffffff;
$color-black: #000000;
$color-accent: #fd0404;
